<mat-card class="step1">
  <mat-card-title class="test">Happy Customers</mat-card-title>
</mat-card>
  <div class="cards">
    <div class="image">
      <img
        src="assets/images/jonas.jpg" style="height: 200px ;">
        
    </div>
    <div class="title">
      <h1 class="title1">
      Hello {{display() | titlecase}}
    </h1>
      <div class="button1">
        <button class="side"  routerLink="/EntrepreneurNavbar/UpdateProfileEntrepreneur">Update Profile</button>
      </div>
    </div>
  </div>


<div class="cards">
  <h1 style="text-align:center;padding:5px ;">Kapil</h1>
  <div class="image">
   
    <img src="https://cdn.pixabay.com/photo/2016/11/29/04/54/photographer-1867417_960_720.jpg">
  </div>
  <div class="title">
    "Providing great customer service is hardly a new pillar of a successful business, however, its importance for
    startups can’t be underestimated. An entrepreneur often only gets one chance to make a good impression on a new
    customer".
    <div class="button1">
      <button class="side">Read More</button>
    </div>
  </div>
</div>

<div class="cards">
  <h1 style="text-align:center;padding:5px">Kirandeep</h1>
  <div class="image">
    <img src="https://cdn.pixabay.com/photo/2019/11/12/09/16/swiggy-boy-4620596__340.jpg">
  </div>
  <div class="title">
    "Communication makes everything easier. Schedule periodical calls with your customers to share updates about how
    things are going and to ask how happy they are with your services on a scale from 1-10, 10 being best. If they do
    not give you a 10".
    <div>
      <button class="side">Read More</button>
    </div>
  </div>
</div>

<div class="cards">
  <h1 style="text-align:center;padding:5px">Pavan</h1>
  <div class="image">
    <img
    src="https://media.istockphoto.com/photos/teenager-doing-homework-side-view-picture-id1349258040?b=1&k=20&m=1349258040&s=170667a&w=0&h=y7ZKVX_qsWx9PraYG4RSrch77bEjHBN82i2v8ayRqv0=">
  </div>
  <div class="title">
    “Let’s take most of the money we would’ve spent on paid advertising and paid marketing and instead of spending it
    on that invest it in the customer experience / customer service and then let our customers do the marketing for us
    through word of mouth"
    <div>
      <button class="side">Read More</button>
    </div>
  </div>

</div>