<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [mode]="'over'">
    <p>
      <button mat-button (click)="sidenav.toggle()">
        <div class="logoo">
          <img
            src="https://i.ibb.co/YQpsyQq/1600w-rgn-FWdqkqm-A-removebg-preview-2-1.jpg"
            alt="1600w-rgn-FWdqkqm-A-removebg-preview-2-1"
            border="0"
          />
        </div>
      </button>
    </p>
    <mat-nav-list>
      <h4>FundFreaks</h4>

      <div class="fit">
        <button class="side" routerLink="/EntrepreneurNavbar/InvestorList">
          <img
            src="https://img.icons8.com/external-vectorslab-flat-vectorslab/53/000000/external-investor-project-management-and-web-marketing-vectorslab-flat-vectorslab.png"
          />
          <a>Investors</a>
        </button>
      </div>

      <div class="fit">
        <button class="side" routerLink="/EntrepreneurNavbar/ProductList">
          <img
            src="https://img.icons8.com/fluency/48/000000/growing-money.png"
          />
          <a>Startup Ideas</a>
        </button>
      </div>

      <div class="fit">
        <button routerLink="/EntrepreneurNavbar/AddIdea" class="side">
          <img src="https://img.icons8.com/color/48/000000/add--v1.png" />
          <a>Add Idea</a>
        </button>
      </div>

      <div class="fit">
        <button
          routerLink="/EntrepreneurNavbar/UpdateProfileEntrepreneur"
          class="side"
        >
          <img
            src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/64/000000/external-list-multimedia-kiranshastry-lineal-color-kiranshastry.png"
          />
          <a>Update Profile</a>
        </button>
      </div>

      <div class="fit">
        <button routerLink="/EntrepreneurNavbar/EnterpreneurList" class="side">
          <img
            src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/000000/external-entrepreneurship-gig-economy-flaticons-flat-flat-icons.png"
          />
          <a>Entrepreneurs</a>
        </button>
      </div>

      <div class="fit">
        <button routerLink="/EntrepreneurNavbar/YourProjects" class="side">
          <img
            src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/64/000000/external-list-multimedia-kiranshastry-lineal-color-kiranshastry.png"
          />
          <a>Your Projects</a>
        </button>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <p>
        <button mat-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </p>

      <img
        src="https://i.ibb.co/YQpsyQq/1600w-rgn-FWdqkqm-A-removebg-preview-2-1.jpg"
        alt="1600w-rgn-FWdqkqm-A-removebg-preview-2-1"
        border="0"
      />
      <span class="name">FundFreaks</span>
      <button class="avatar1" [matMenuTriggerFor]="menu">
        <img
          src="https://img.icons8.com/external-justicon-lineal-justicon/64/000000/external-businessman-leadership-justicon-lineal-justicon-14.png"
        />
      </button>

      <mat-menu #menu="matMenu">
        <h5 class="text-center">Hi {{ display() | titlecase }}</h5>
        <!-- <button mat-menu-item class="m">
          <img
            class="profile"
            src="https://img.icons8.com/clouds/100/000000/test-account.png"
          />
          <span><a class="logout1" href="">Profile</a></span>
        </button> -->
        <button mat-menu-item class="m" (click)="clearLocal()">
          <mat-icon class="logoutt">logout</mat-icon>
          <span><a class="logout1" href="Login">Logout</a></span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <router-outlet></router-outlet> </mat-sidenav-content
></mat-sidenav-container>
