
.wrap {
    width: 99%;
    height: 100%;
    max-height: 100vh;
    display: flex;
    /* background-color: #011627; */
    background-color: #011627 ;
    flex-direction: column;
  }
.column{
    width: 50%;
}
.form-container{
    background-color: white;
    height: 400px;
    margin-right: 90px;
    margin-top:100px
}
img{
    width: 190px;
    height: 240px;
    margin-left:35%;
    margin-top: 15%;
}
label{
    margin-left: 25%;
    padding-top: 20px;
    font-size: medium;
    color: aliceblue;
}
.text-center{
    font-size:large;

    line-height: 25px;


}
h1{
    padding-left: 40%;
    padding-top:20px;
    padding-bottom: 0;
margin-bottom: 0;}
.email{
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: medium;
    margin-left:-100px;
}
.password,.confirmPass{
    font-size: medium;
    margin-left:-100px;
    padding-bottom: 5px;
}
.email label{
    font-size: 18px;
    padding-right: 143px;
    color: #011627;
}
.password label{
    font-size: 18px;
    padding-right:110px;
    color:#011627 ;
}
.confirmPass label{
    font-size: 18px;
    padding-right:40px;
    color:#011627 ;
}
.email input,.password input,.confirmPass input{
    background-color: rgb(186, 180, 180);
    border: #2EC4B6;
    width:270px;
    font-size: small;
}
input:hover{
    border-radius: 7px;
}
.btn{
    color: white;
    background-color: #011627;
    border: 0;

    margin-left: 310px;

    

   
    margin-top: 20px;
    width: 200px;
    margin-bottom: 10px;
}
.btn:hover{
    background-color: #ef9273;
    color: black;
}
a{
    color: #2EC4B6;

    margin-left: 270px;
   
    font-size:large;
}
a:hover{
    color: #011627;
}
h2{

    margin-left:39.8%;
   
    font-size: medium;
    color: #011627;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 9px;
}
.role input{
    background-color: #2EC4B6;

    margin-left: 59px;
   
    padding-right:0;
    margin-right: 0;
}
.role input:hover{
    background-color: lightblue;
    cursor:pointer;
}
.role label{
    margin-left: 10px;
    padding-right:0;
    margin-right: 0;
    color: #011627;
    margin-top: 0;
    padding-top: 0;
}
.field{
    margin-left:230px;
    padding-top: 10px;
    
}
