
  <mat-card class="step1">
    <mat-card-title class="test">Investors List</mat-card-title>
  </mat-card>
  <div class="align">
      <div class="page1">
        <select (change)="onPageSizeChange($event)">
          <option *ngFor="let cards of cardsPerPages ">
            {{cards}}
          </option>
        </select>
      </div>
      <div class = "page">
        <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onPageChange($event)">
        </pagination-controls>
      </div>
      <div class="product-mat-card-list">
        <mat-list *ngFor="let inv of investors | paginate:{
          itemsPerPage:cardsPerPage,
          currentPage:page,
          totalItems:count};let i = index">
          <mat-list-item>
            <mat-card class="example-card">
              <mat-card-title>{{inv.name}}</mat-card-title>
              <mat-card-content>
                <p>
  
                  {{inv.city}}
                </p>
              </mat-card-content>
              <img mat-card-image [src]='images[i+(page-1)*cardsPerPage]' style="width:400px;height:320px;">
              <mat-card-actions>
                <button mat-button class="button1" [routerLink]="['/viewDetail/'+ inv.id]">View Detail</button>
    
              </mat-card-actions>
            </mat-card>
          </mat-list-item>
        </mat-list>
      </div>
     </div>

